.pt {
  width: 100%;
  height: 400px;
  background: #afaeb2;
}
.imagen1 {
  position: absolute;
  display: flex;
  display: inline-block;
}
.TT {
  display: inline-block;
  position: relative;
  top: 6em;
  text-align: center;
  left: 12em;
}
